* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #f6fbff;
}

/* اختياري: شريط تمرير جميل */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #e0e8ef;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #1976d2;
  border-radius: 10px;
}